<%- include('partials/header'); -%>

<ul class="recipes">
    <li class="recipe">
        <h4>Excel</h4>
        <p>Excel - Basic to Expert guide, This tutorial will help you to get a good grasp at Excel.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Vl0H-qTclOg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
      <li class="recipe">
        <h4>Python for Data Analytics</h4>
        <p>Basic to expert, This tutorial will help you to get Python basics down to work with Data Science</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/r-uOLxNrNk8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
</ul>

<%- include('partials/footer'); -%>