<%- include('partials/header'); -%>

<ul class="recipes">
    <li class="recipe">
        <h4>NodeJS</h4>
        <p>This is complete playlist to learn NodeJS from basics. NodeJS is a crucial part of Full Stack development.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zb3Qk8SG5Ms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
      <li class="recipe">
        <h4>CSS</h4>
        <p>Complete CSS guide to from basics to master, This tutorial will help you to get a good grasp at CSS and will help you design better.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1Rs2ND1ryYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
</ul>

<%- include('partials/footer'); -%>