<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/stige.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Learning Management System</h2>
    <h3>Stige-Task</h3>
    <a href="/smoothies" class="btn">View Courses</a>
  </div>
</header>


<%- include('partials/footer'); -%>