<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/r.png" alt="Data-analyst">
    <h4>Data Analyst</h4>
    <p>Python, Excel and R Programming</p>
    <a href="/data" class="btn">Course</a>
  </li>
  <li class="recipe">
    <img src="/full.jpg" alt="Full-stack-development">
    <h4>Full Stack Course</h4>
    <p>HTML, CSS, JavaScript, NodeJS, Express and MongoDB</p>
    <a href="/fullstack" class="btn">Course</a>
  </li>
</ul>

<%- include('partials/footer'); -%>